.twin-container{
    display: flex;
}
.product-container{
    border-right: 1px solid lightgray;
    width: 70%;
    margin-left: 20px;
    margin-right: 5px;
}
.product-search{
    padding: 5px;
    position: relative;
    left: 350px;
    width: 300px;
    margin-bottom: 10px;
}